.head-box-languge .cboLanguage .language-selected {
    background: transparent;
    padding: 0;
}

.head-box-languge .text-language {
    color: var(--color-text);
}

.menu-group-wap-dropdown .btn-router-link .icon {
    display: none;
}

.menu-group-wap-dropdown .btn-router-link {
    padding-left: 45px;
}

.mini-menu .menu-group-wap-dropdown .btn-router-link {
    padding-left: 16px;
}

.mini-menu .menu-group-wap-dropdown .btn-router-link .icon {
    display: inline-block;
}

.app-logo {
    color: #ffffff;
    font-weight: bold;
    background-color: transparent;
}
.app-logo img {
    height: 35px;
    margin-right: 4px;
}
