@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FTS Web API | Error</title>
    <link href="~/Graphics/FTS.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
    <div style="width: 280px; margin:50px auto">
        <img style="height: 60px; margin:5px 30px" src="~/Graphics/logo.png" />
        <h2>Error ! Page Not Found.</h2>
    </div>
</body>
</html>