.period-control{
    float: left;
    margin: 4px 8px;
}

.period-control label{
    white-space: nowrap;
    margin-right: 8px;
}

.period-data{
    min-width: 180px;
}

.period-date{
    width: 180px;
}
