.mask-wapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background: rgba(255, 255, 255, .5);
    background: transparent;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes nspin {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.v1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.v1:before {
    content: "";
    display: block;
    width: 100%;
    height:  100%;
    border: thin solid var(--color-text-active);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: spin 1.5s linear infinite;
    position: absolute;
}

.v1::after {
    position: absolute;
    margin: 10px;
    content: "";
    display: block;
    width: 50%;
    height: 50%;
    border: thin solid var(--color-text-active);
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 100%;
    animation: nspin 1s linear infinite;
}