<div class="h-100 custom-scroll">
    <div class="change-password-wap">
        <h1 class="text-center">Đổi mật khẩu</h1>
        <div class="d-flex">
            <div class="flex-1">
                <img class="col-12" src="/assets/images/imgs/forgot_pass.png" alt="">
            </div>
            <form class="flex-1" [formGroup]="frmChangePassword">
                <div>
                    <div class="row">
                        <div class="form-control col-12">
                            <kendo-label class="control-label">Mật khẩu hiện tại</kendo-label>
                            <br>
                            <input formControlName="oldPwd" id="oldPwd" type="password" class="control-input"
                                kendoTextBox />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-control col-12">
                            <kendo-label class="control-label">Mật khẩu mới</kendo-label>
                            <br>
                            <input formControlName="newPwd" id="newPwd" type="password" class="control-input"
                                kendoTextBox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-control col-12">
                            <kendo-label class="control-label">Nhập lại mật khẩu mới</kendo-label>
                            <br>
                            <input formControlName="confirmPwd" id="confirmPwd" type="password" class="control-input"
                                kendoTextBox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-control">
                            <button type="button" class="btn btn-primary" (click)="ChangePassword()">
                                <i class="fas fa-key"></i>
                                Đổi mật khẩu
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-control">
                            <br>
                            <b> Lưu ý:</b> <br>
                            - Password tối thiểu 6 ký tự.<br>
                            - Password bao gồm: chữ hoa, chữ thường, số, ký tự đặc biệt
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>