.change-password-wap {
    margin: auto;
    padding: 30px;
    max-width: 682px;
}

form {
    padding: 0 20px;
}

.form-control {
    display: inline-block;
}

.form-control i {
    padding-right: 10px;
}

.form-control button {
    height: 30px;
    margin-top: 10px;
}

.form-control .control-label {
    width: 150px;
    font-weight: 700;
}
