<ng-container *ngIf="myInject.resourceManager.CommonResource.MyResource; let commonResource">
    <ng-container *ngIf="myInject.resourceManager.DmContractClassResource.MyResource; let DmContractClassResource">
        <fts-dict-base-detail [formGroup]="formGroup">
            <div formControls>
                <div class="row">
                    <div class="form-control col-12">
                        <kendo-label [for]="CONTRACT_CLASS_ID" class="control-label"
                            [text]="DmContractClassResource.CONTRACT_CLASS_ID" required>
                        </kendo-label>
                        <input type="text" class="control-input" formControlName="CONTRACT_CLASS_ID" kendoTextBox
                            #CONTRACT_CLASS_ID />
                    </div>

                </div>

                <div class="row">
                    <div class="form-control col-12">
                        <kendo-label [for]="CONTRACT_CLASS_NAME" class="control-label" required
                            [text]="DmContractClassResource.CONTRACT_CLASS_NAME">
                        </kendo-label>
                        <input type="text" class="control-input" formControlName="CONTRACT_CLASS_NAME" kendoTextBox
                            #CONTRACT_CLASS_NAME />
                    </div>
                </div>

                <div class="row">
                    <div class="form-control col-12">
                        <kendo-label [for]="ACTIVE" class="control-label" required [text]="DmContractClassResource.ACTIVE">
                        </kendo-label>
                        <input type="checkbox" formControlName="ACTIVE" kendoCheckBox #ACTIVE />
                    </div>
                </div>

            </div>
        </fts-dict-base-detail>
    </ng-container>
</ng-container>
